<fieldset style="margin:10px 0; padding:10px;">
  <legend>Attributes</legend>
  <div style="display:grid; grid-template-columns: repeat(3, 1fr); gap:10px;">
    <label>Might <input type="number" name="system.attributes.might.value" value="{{system.attributes.might.value}}" /></label>
    <label>Agility <input type="number" name="system.attributes.agility.value" value="{{system.attributes.agility.value}}" /></label>
    <label>Endurance <input type="number" name="system.attributes.endurance.value" value="{{system.attributes.endurance.value}}" /></label>
    <label>Insight <input type="number" name="system.attributes.insight.value" value="{{system.attributes.insight.value}}" /></label>
    <label>Willpower <input type="number" name="system.attributes.willpower.value" value="{{system.attributes.willpower.value}}" /></label>
    <label>Charisma <input type="number" name="system.attributes.charisma.value" value="{{system.attributes.charisma.value}}" /></label>
  </div>
</fieldset>
